@CHARSET "UTF-8";

/* reset.css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* svg */
#svgMap{float:left;}
#detailMap{float:left;}
#detailMap li{list-style:none;}

/* 회원가입폼 */
#container{
	width:100%;
	height:100%;
	background:-moz-linear-gradient(center top , #FFFFFF, #efefef) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(1, #efefef));
}
a{
color: rgb(0, 114, 191); text-decoration: none;	
}
.msg{
	font-size:18px;
	color:#555;
	text-align:center;
}
.legal{
	text-align:center;
	color:5f5f5f;
	background-color:#DEDEDE;
	font-size:16px;
	margin-top:100px;
}

.label{
	font-size:24px;
	color:#777;
	margin-top:20px;
	text-align:center;
}
*:focus{
	outline:none; /* Prevents blue border in Webkit */
}




form {
	width:680px;
	height:900px;
	margin: 20px auto;
}

p {
	line-height: 1.6;
}
#twitter-outer{
	background:url("https://s3.amazonaws.com/twitter_production/a/1274834447/images/bg-clouds.png") repeat-x scroll 0 0 #C0DEED;
	height:385px;
}
#twitter-logo{
	margin-left:192px;
	width:180px;
}
#twitter-logo img{
	margin-top:10px;
}
.content-bubble-arrow  {
	background-image:url("https://s3.amazonaws.com/twitter_production/a/1274834447/images/arr2.gif");
	background-position:32px 0;
	background-repeat:no-repeat;
	height:11px;
	overflow:hidden;
}
#twitter{
	margin:auto auto  auto auto;
	width:575px;
	height:100%;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
}
#twitter label , #gaiaOnline label{
	float:left;
	width:99px;
	color:#666666;
	text-align:left;
	padding:10px 10px 0 0;
	font:15px 'Lucida Grande',sans-serif;
}
#twitter .memberGenderInput {
	background-color:#fff;
	border:1px solid #ccc;
	font-size:18px;
	margin:5px;
	padding:8px;
	width:30px;
	display:block;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	float:left;
}
#twitter input, #twitter  textarea , #gaiaOnline input , #gaiaOnline textarea{
	background-color:#fff;
	border:1px solid #ccc;
	font-size:18px;
	margin:0;
	padding:8px;
	width:200px;
	display:block;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	float:left;
}

#twitter textarea {
		min-height:200px;
}

#twitter input:hover, #twitter textarea:hover {
	border-color:inherit !important;
	background-color:#EfEfEf;
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;

}

/* The interesting bit */

#twitter input:not(:focus),#twitter textarea:not(:focus) {
	opacity:0.6;
}

#twitter  input:required,#twitter  textarea:required {
}

#twitter  input:valid,#twitter  textarea:valid {
	opacity:0.8;
}		

#twitter input:focus:invalid,#twitter textarea:focus:invalid {
	border:1px solid red;
	background-color:#FFEFF0;
}

#twitter input[type=submit] {
	background:none;
	font-size:15px;
	opacity:1;
	padding:5px;
	width:150px;
	-moz-border-radius:5px;
	-webkit--border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	margin-bottom:-10px;
	margin-left:103px;
	margin-top:15px;
	background:url("https://s3.amazonaws.com/twitter_production/a/1274834447/images/buttons/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
	text-shadow:1px 1px 0 #FFFFFF;
	border-color:#DDDDDD #DDDDDD #CCCCCC;
	color: #333;
}
#twitter .outerDiv{
	-webkit-transition: all 1s linear;
	margin-bottom:16px;
	margin-top:10px;
}
#twitter .outerDiv:hover .message{
	opacity:1;
	display:block;
}
#twitter .message{	
	width:300px;
	height:15px;
	float:left;
	opacity:0;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;
	border-radius-bottomright:0 10px 10px 0;
	background:url("https://s3.amazonaws.com/twitter_production/a/1274739546/images/signup_info.gif") no-repeat scroll 13px 50% #F2F2F2;
	border-color:#DBDBDB;
	border-style:solid;
	border-width:1px 1px 1px 2px;
	color:#666666;
	display:none;
	font-size:12px;
	line-height:1.45em;
	padding:1em 10px 0.85em 10px;
	text-transform:lowercase;
}
.radio{height:30px;}
.clearfix{
	clear:both;
}

/* 지도전용 css */
#map {
	height: 100%;
}
#mainPlanCityInfo {
	display:inline-block;
	width:300px;
}
#mainPlanCityInfoImage {
	float:left;
}

#mainPlanDivRoot {
	margin:auto;
	width:100%;
}
#mainPlanDivTop {
	width:100%;
	height:50px;
	text-align:center;
}

#mainPlanWrap {
	position:absolute;
	left:0;
	z-index:2;
	background:#ffffff;
	width:300px;
}
#mainPlanDivLeft {
	width:40%;
	height:650px;
	float:left;
	text-align:left;
}
#mainPlanDivLeft2 {
	width:60%;
	height:650px;
	float:left;
	text-align:left;
}
#mainPlanDivLeft3 {
	z-index:1;
	display:none;
	left:100px;
	position:absolute;
	width:200px;
	height:650px;
	float:left;
	text-align:left;
	background:#fff;
}

#mainPlanDivLeftCityList{
	text-align:center;
	color:#ffffff;
	background-color:#093B78;
	padding-top:5px;
	padding-bottom:5px;
}
#leftMenuCityList {
	height:615px;
	overflow-y:scroll;
}
#mainPlanDivLeftLabel {
	text-align:center;
	color:#ffffff;
	background-color:#115DBF;
	padding-top:5px;
	padding-bottom:5px;
}
#mainPlanDivLeftLabel2 {
	text-align:center;
	color:#ffffff;
	background-color:#17A0FF;
	padding-top:5px;
	padding-bottom:5px;
}

#leftMenuRouteList {
	height:615px;
	overflow-y:scroll;
}

#leftMenuCityList ul li{
	cursor:pointer;
	padding:10px;
	list-style:none;
}
#leftMenuCityList ul li:hover{
	background:#434343;
	color:#fff;
}
#leftMenuRouteList ul li{
	height:100px;
	list-style:none;
}
.leftMenuLi  {
	margin-left:5px;
}
.leftMenuLi .cityName:hover {
	cursor:pointer;
	background:#434343;
	color:#fff;
}

#mainPlanDivContent {
	width:100%;
	height:650px;
}

#mainPlanAddButton {
	clear:left;
	text-align:right;
}
#mainPlanRemoveButton {
	clear:left;
	float:right;
	padding-top:5px;
	padding-right:10px;
}
.cityChooseMenu {
	clear:none;
	text-align:center;
}
.stayCount {
	display:inline-block;
	width:20px;
}

/* 헤더 css */
#header{width:100%; height:auto; border-bottom:1px solid #ccc;}
#header #headerWrap{width:80%; height:55px; margin:30px auto;}
#header #headerWrap #headerLogo{float:left; width:25%;}
#header #headerWrap #searchWrap{float:left; width:37%;}
#header #headerWrap #headerNavWrap{float:right;}
#header #headerWrap #headerNav{float:left; margin-top:16px;}
#header #headerWrap #headerNav .hiddenNavWrap{float:left; padding:0 30px;}
#header #headerWrap #headerNav .hiddenNavWrap:first-child{padding-left:0;}
#header #headerWrap #headerNav .hiddenNavWrap a{font-size:16px; color:#687074; font-weight: 400; line-height:3em;}
#header #headerWrap #headerNav .hiddenNavWrap .hiddenNav{width:290px; background:#fff; position:absolute; z-index:99999;
-webkit-box-shadow: 10px 10px 116px -31px rgba(67,67,67,1); -moz-box-shadow: 10px 10px 116px -31px rgba(67,67,67,1); box-shadow: 10px 10px 116px -31px rgba(67,67,67,1); 
display:none; margin-left:-130px; top:80px;}
#header #headerWrap #headerNav .hiddenNavWrap span{font-size:16px; color:black; font-weight: 400; line-height:3em;}
#header #headerWrap #headerNav .hiddenNavWrap .hiddenNav dl{padding:28px 0; margin-left:20%;}
#header #headerWrap #headerNav .hiddenNavWrap .hiddenNav dl dt,
#header #headerWrap #headerNav .hiddenNavWrap .hiddenNav dl dd{float:none; display:block; padding:10px 0;}
#header #headerWrap #headerNav .hiddenNavWrap .hiddenNav dl dt{ width:150px; border-bottom:1px solid #ccc; color:#434343; font-size:14px;}
#header #headerWrap #headerNav .hiddenNavWrap .hiddenNav dl dd a{margin-left:10%; color:#687074; font-size:12px;}
/* #header #loginNav{float:right;  padding-top:22px;}
#header #loginNav span a{ color:#687074; font-size:16px;} */
#header #headerWrap #searchWrap{color: #687074; float:left; margin-top: 20px;}
#header #headerWrap #searchWrap .glyphicon{font-size: 18px;}
#header #headerWrap #searchWrap .searchCityNameSpan{cursor: pointer; margin-left: 10px; opacity: 0.8; font-size: 26px;}
#searchHeader{width:100%; height:116px; border-bottom:1px solid #ccc; display: none;}
#searchHeader .searchInner{margin: 0 auto; width: 1200px; height: 116px;}
#searchHeader .searchInner #searchGlyphicon{font-size: 25px; float:left; margin-right: 20px; margin-top: 44px;}
#searchHeader .searchInner #closeSearchForm{cursor: pointer; font-size: 38px;  padding: 30px; float: right;}
#searchHeader .searchInner #infoSearch{margin: 0px auto; text-align: center; height: 116px; float: left;}
#searchHeader .searchInner #infoSearch #infoSearchInput{border: 0px; width: 1100px; height: 115px; font-size: 24px;}
.container{margin:30px auto;}

/* 게시판전용 css */
.container #communityInsertForm{width:100%; margin:30px auto;}
.container #communityInsertForm .communityTitleWrap{margin:3px 0;}
.container #communityInsertForm .communityTitle{font-weight:normal; width:100px;}
.container #communityInsertForm select{height:26px;}
.container #communityInsertForm #memberId{border:0;}
.container #communityInsertForm #communitySubject{width:80%;}
.container #communityInsertForm #communityNoticeLabel{padding-left:20px; padding-right:5px;}
.container #communityInsertForm .communityContentWrap{width:100%; padding-top:15px;}

/* 리스트 css */
.container .table-responsive td,
.container .table-responsive a{color:#434343; font-size:12px;}
.container #paginationWrap{margin:0 auto; text-align:center;}
.container #paginationWrap li a{color:#434343; font-size:12px;}
.container #searchWrap{width:100%; margin:0 auto; }
.container #searchWrap .search .col-lg-4{margin-left:33%;}
/* 디테일뷰 */
#communityContent{width:100%; background:#fbfbfb; padding-bottom:10px;}
#communityContent dl{float:left; padding-left:20px; padding-top:10px; padding-bottom:10px;} 
#communityContent dl dt,
#communityContent dl dd{float:left;}
#communityContent dl dt{color:#8b8b8b; font-size:12px;}
#communityContent dl dd{color:#3c3c3c; font-size:13px; margin-left:5px;}
#communityContent #communityContentSubject{width:100%; padding-top:18px;}
#communityContent .communityContentInfo{margin-right:10px;}
#communityContent .communityContentInfo dd{}
#communityContentContain{width:100%; margin:20px auto;}
#communityContentButtonWrap #communityContentButton li{float:left; list-style: none; padding:0 10px;]}
#replyWrap{width:100%; margin:20px auto; background:#fbfbfb; padding:13px 0;}
#replyWrap .replyTalbe{width:100%; text-align:left; padding:0;}
#replyWrap .replyTalbe tr{border-bottom:1px dotted #ccc;}
#replyWrap .replyTalbe td{float:left; line-height:3em; font-size:12px; color:#3c3c3c;}
#replyWrap .replyTalbe #replyWriter{padding:0 20px;}
#replyWrap .replyTalbe #replyDate{float:right; padding-right:20px;}
.replyinsertTable{width:100%;}
.replyinsertTable td{vertical-align:middle;}
.replyinsertTable #replyAuthor{width:20%; padding:0; padding-left:20px; font-size:12px;}
.replyinsertTable #replyAuthor input{width:130px;}
.replyinsertTable #replyTextArea{width:70%;}
.replyinsertTable #replyTextArea textarea{width:100%; height:80px; margin-top:58px;}
.replyinsertTable #replyFormSubmitArea{float:right; padding-right:20px; padding-top:58px;}
#communityContentButtonWrap{width:100%; padding-top:20px;}
#communityContentButtonWrap #communityContentButton{float:right;}
/* 추천 */
#voteArea{width:100%; margin:0 auto; text-align:center; padding:18px 0; height:100px;}
#voteWrap{width:100%; margin:0 auto; text-align:center;margin-left:45%;}
.votecard {
	background: url(/resources/images/sprite.png) no-repeat 0 0;
	padding: 4px;
	text-align: center;
}

.votecard div {
	position: relative;
	overflow: hidden;
	width: 64px;
	height: 43px;
}

.votecard em {
	display: block;
	position: relative;
	padding: 6px 0 6px 0;
	font: normal 24px/24px "Helvetica Neue","Helvetica","Arial",Sans-serif;
	color: #45453f;
}
.votecard strong {
	font-weight: bold;
}
.votecard span {
	font-size: 10px;
	line-height: 10px;
	display: block;
	color: #9a9a94;
}
a.voteaction {
	margin: 0 0 0 3px;
	display: block;
	text-indent: -9999px;
	width: 71px;
	height: 21px;
	background: url(/resources/images/sprite.png) no-repeat -3px -75px;
}
a.voteaction:hover {
	outline: none;
	background-position: -3px -54px;
}
a.voted,
a.voted:hover {
	outline: none;
	background-position: -3px -96px;
	cursor: default;
}

/* 입력,수정 */
.container #communityInsertForm label,
.container #communityInsertForm input{font-size:12px; color:#434343;} 
.container #communityInsertForm textarea{width:100%;}
.clearFix{content:""; display:block; clear:both;}

/* 풋터 */
#footer{width:100%; background:#fff; text-align:center; border-top:1px solid #ccc;}
#footer #footContent{width:80%; margin:0 auto; padding:10px 0;}
#footer #footContent ul li{font-size:14px; font-weight:400; padding:10px 0; color:#434343;}
#footer #footContent ul li span{color:#e55d53; font-size:12px;}