<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.danim.service">
	<!-- 레이팅카운트 업데이트 -->
	<update id="updateRatingCount"
			parameterType="com.danim.service.community.CommunityDto">
		UPDATE
			community
		SET
			community_rating = #{communityRating}
		WHERE
			community_no = #{communityNo};
	</update>
	<select id="selectRatingForVotedCheck"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT 
			count(member_id)
		FROM
			rating
		WHERE
			community_no = #{communityNo}
		AND	
			member_id = #{votedId}
	</select>
	<!-- 레이팅 삽입 -->
	<insert id="insertCommunityVote"
			parameterType="java.util.Map">
	INSERT INTO
		rating(
		member_id,
		community_no,
		community_category_no,
		rating_score,
		rating_date
	)VALUES(
		#{votedId},
		#{communityNo},
		#{communityCategoryNo},
		1,
		SYSDATE()
	)
	</insert>
	<!-- 리플카운트 업데이트 -->
	<update id="updateReplyCount"
			parameterType="com.danim.service.community.CommunityDto">
		UPDATE
			community
		SET
			community_reply_count = #{communityReplyCount}
		WHERE
			community_no = #{communityNo};
	</update>
	<!-- 리플 입력 -->
	<insert id="insertCommunityReply" 
		parameterType="com.danim.service.community.CommunityReplyDto">
		INSERT INTO
		reply(
			community_no,
			community_category_no,
			member_id,
			reply_content,
			reply_date,
			reply_update	
		)VALUES(
			#{communityNo},
			#{communityCategoryNo},
			#{memberId},
			#{replyContent},	
			SYSDATE(),
			SYSDATE()
		);
	</insert>
	<!-- 리플 가져오기 -->
	<select id="selectDetailViewReplyByCommunityNo"
			parameterType="Integer"
			resultType="com.danim.service.community.CommunityReplyDto">
		SELECT
			rpl.reply_no as replyNo,
			rpl.community_category_no as communityCategoryNo,
			rpl.member_id as memberId,
			rpl.reply_content as replyContent,
			rpl.reply_update as replyDate
		FROM
			community as com, reply as rpl
		WHERE
			com.community_no = rpl.community_no
		AND
			rpl.community_no = #{communityNo};	
	</select>

	<update id="updateReadCount"
			parameterType="com.danim.service.community.CommunityDto">
		UPDATE
			community
		SET
			community_readcount = #{communityReadcount}
		WHERE
			community_no = #{communityNo};
	</update>
	<update id="modifyCommunityItem"
			parameterType="com.danim.service.community.CommunityDto">
		UPDATE
			community
		SET
			community_subject = #{communitySubject},
			<if test="communityNotice == null">
				community_notice = 'F',
			</if>
			<if test="communityNotice != null">
				community_notice = #{communityNotice},
			</if>
			community_content = #{communityContent}
		WHERE
			community_no = #{communityNo};	
	</update>
	<!-- 공지사항 출력리스트  -->
	<select id="selectCommunityNoticeList"
		parameterType="String"
		resultType="com.danim.service.community.CommunityDto">
		SELECT 
			community_no as communityNo,
			member_id as memberId,
			community_category_no as communityCategoryNo,
			community_subject as communitySubject,
			community_readcount as communityReadcount,
			community_notice as communityNotice,
			community_rating as communityRating,
			community_update as communityUpdate,
			community_reply_count as communityReplyCount			
		FROM
			community
		WHERE
			community_category_no = #{communityCategoryNo}
		AND
			community_notice = 'T'	
		ORDER BY communityNo DESC	
	</select>
	<!-- 해당 카테고리 내의 총 게시글 -->
	<select id="countCommunityList" 
		parameterType="String"
		resultType="Integer" >
	SELECT 
		COUNT(*) 
	FROM 
		community
	WHERE 
		community_category_no = #{communityCategoryNo};
	</select>	
	<!-- 해당 게시글 detail -->
	<select id="selectDetailViewByCommunityNo"
			parameterType="Integer"
			resultType="com.danim.service.community.CommunityDto">
		SELECT
			community_no as communityNo,
			community_category_no as communityCategoryNo,
			community_notice as communityNotice,
			member_id as memberId,
			community_subject as communitySubject,
			community_content as communityContent,
			community_readcount as communityReadcount,
			community_rating as communityRating,
			community_update as communityUpdate,
			community_reply_count as communityReplyCount	
		FROM
			community
		WHERE
			community_no = #{communityNo};
	
	</select> 
	<!-- 해당 카테고리 리스트 -->
	<select id="selectCommunityList"
			parameterType="java.util.Map"
			resultType="com.danim.service.community.CommunityDto">
		SELECT 
			community_no as communityNo,
			member_id as memberId,
			community_category_no as communityCategoryNo,
			community_subject as communitySubject,
			community_readcount as communityReadcount,
			community_notice as communityNotice,
			community_rating as communityRating,
			community_update as communityUpdate,
			community_reply_count as communityReplyCount					
		FROM
			community
		WHERE
			community_category_no = #{communityCategoryNo}
		ORDER BY communityNo DESC	
		LIMIT #{pageNation.startRow} , #{pageNation.linePerPage};	
	</select>
	<!-- 게시글 입력 -->	
	<insert 
		id="insertCommunityItem" 
		parameterType="com.danim.service.community.CommunityDto">
		INSERT INTO
		community(
			community_no,
			community_category_no,
			member_id,
			community_subject,
			<if test="communityNotice != null">
				community_notice,
			</if>
			community_content,
			community_date,
			community_update	
		)VALUES(
			#{communityNo},
			#{communityCategoryNo},
			#{memberId},
			#{communitySubject},
			<if test="communityNotice != null">
				#{communityNotice},
			</if>
			#{communityContent},
			SYSDATE(),
			SYSDATE()
		);
	</insert>	
</mapper>	
