<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.danim.service">
	<select id="countCommunityList" 
		parameterType="String"
		resultType="Integer" >
	SELECT 
		COUNT(*) 
	FROM 
		community
	WHERE 
		community_category_no = #{communityCategoryNo};
	</select>	
	<select id="selectDetailViewByCommunityNo"
			parameterType="int"
			resultType="com.danim.service.community.CommunityDto">
		SELECT
			community_no as communityNo,
			community_category_no as communityCategoryNo,
			member_id as memberId,
			community_subject as communitySubject,
			community_content as communityContent,
			community_readcount as communityReadcount,
			community_rating as communityRating,
			community_date as communityDate
		FROM
			community
		WHERE
			community_no = #{communityNo};
	
	</select> 
	<select id="selectCommunityList"
			parameterType="java.util.Map"
			resultType="com.danim.service.community.CommunityDto">
		SELECT 
			community_no as communityNo,
			member_id as memberId,
			community_category_no as communityCategoryNo,
			community_subject as communitySubject,
			community_readcount as communityReadcount,
			community_notice as communityNotice,
			community_date as communityDate			
		FROM
			community
		WHERE
			community_category_no = #{communityCategoryNo}
		ORDER BY communityNo DESC	
		LIMIT #{pageHelper.startRow} , #{pageHelper.linePerPage};	
	</select>	
	<insert 
		id="insertCommunityItem" parameterType="com.danim.service.community.CommunityDto">
		INSERT INTO
		community(
			community_no,
			community_category_no,
			member_id,
			community_subject,
			<if test="communityNotice != null">
				community_notice,
			</if>
			community_content,
			community_date,
			community_update	
		)VALUES(
			#{communityNo},
			#{communityCategoryNo},
			#{memberId},
			#{communitySubject},
			<if test="communityNotice != null">
				#{communityNotice},
			</if>
			#{communityContent},
			SYSDATE(),
			SYSDATE()
		);
	</insert>
	
</mapper>	
