<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.danim.service.DiaryMapper">
<select id="selectCityRouteDepartureCityByCityRouteDate" 
            resultType="com.danim.service.diary.CityRouteDto"
            parameterType="String">
            SELECT
                city_route_no as 'cityRouteNo',
				plan_no as 'planNo',
				city_route_date as 'cityRouteDate',
				city_route_departure_city as 'cityRouteDepartureCity',
				city_route_arrival_city as 'cityRouteArrivalCity',
				city_route_departure_time as 'cityRouteDepartureTime',
				city_route_arrival_time as 'cityRouteArrivalTime'
            FROM
                city_route
            WHERE
            	city_route_date = #{cityRouteDate}
            ORDER BY plan_no
    </select><!-- 도시날짜를 입력받아서 도시플랜테이블을 갖고옴 -->

<select id="selectPlanAllByCityRouteDate" 
            resultType="com.danim.service.diary.PlanAllDto"
            parameterType="String">
            SELECT 
				c.city_route_no as 'cityRouteNo',
				c.plan_no as 'planNo',
				c.city_route_date as 'cityRouteDate',
				c.city_route_departure_city as 'cityRouteDepartureCity',
				c.city_route_arrival_city as 'cityRouteArrivalCity',
				c.city_route_departure_time as 'cityRouteDepartureTime',
				c.city_route_arrival_time as 'cityRouteArrivalTime',
				
				
				p.member_id as 'memberId',
				p.plan_name as 'planName',
				p.plan_headcount as 'planHeadcount',
				p.plan_type as 'planType',
				p.plan_departure as 'planDeparture',
				p.plan_arrival as 'planArrival',
				p.plan_stay as 'planStay',
				p.plan_date as 'planDate',
				p.plan_update as 'planUpdate',
				p.plan_total_money as 'planTotalMoney',
				p.plan_memo as 'planMemo',
				
				l.landmark_plan_no as 'landmarkPlanNo',
				l.landmark_info_no as 'landmarkInfoNo',
				l.landmark_plan_time as 'landmarkPlanTime',
				l.landmark_plan_memo as 'landmarkPlanMemo',
				
				s.stay_plan_no as 'stayPlanNo',
				s.stay_info_no as 'stayInfoNo',
				s.stay_plan_time as 'stayPlanTime',
				s.stay_plan_memo as 'stayPlanMemo'
			FROM 
				city_route

			INNER JOIN 
				city_route c
			INNER JOIN 
				plan p 
			INNER JOIN 
				landmark_plan l 
			INNER JOIN 
				stay_plan s
				
			ON 
				c.plan_no=p.plan_no=l.plan_no=s.plan_no
			
			WHERE
            	c.city_route_date = #{cityRouteDate}
    </select><!-- 특정 날짜 플랜정보를 모두 불러옴 -->


<select id="selectCityRoute"
			resultType="com.danim.service.diary.CityRouteDto"
			>
		SELECT 
			city_route_no as 'cityRouteNo',
			plan_no as 'planNo',
			city_route_date as 'cityRouteDate',
			city_route_departure_city as 'cityRouteDepartureCity',
			city_route_arrival_city as 'cityRouteArrivalCity',
			city_route_departure_time as 'cityRouteDepartureTime',
			city_route_arrival_time as 'cityRouteArrivalTime'			
		FROM
			city_route
	</select><!-- 도시플랜 전체 리스트 출력 -->

	<select id="selectCityRouteByCityRouteDepartureCity"
			resultType="com.danim.service.diary.CityRouteDto"
			parameterType="String">
		SELECT 
			city_route_no as 'cityRouteNo',
			plan_no as 'planNo',
			city_route_date as 'cityRouteDate',
			city_route_departure_city as 'cityRouteDepartureCity',
			city_route_arrival_city as 'cityRouteArrivalCity',
			city_route_departure_time as 'cityRouteDepartureTime',
			city_route_arrival_time as 'cityRouteArrivalTime'			
		FROM
			city_route
		WHERE
			city_route_departure_city = #{cityRouteDepartureCity};
	</select><!-- 도시검색해서 도시리스트 출력 -->
	
	<select id="selectcityRouteDepartureTimeBycityRouteNo"
		resultType="com.danim.service.diary.CityRouteDto"
		parameterType="int">
	SELECT
		city_route_departure_time as 'cityRouteDepartureTime'
	FROM
		city_route
	WHERE
		city_route_no = #{cityRouteNo};
	</select><!-- 도시넘버로 출발시간출력 -->
	
	
	<update id="updateCityRouteDepartureTime">
	
		UPDATE
			city_route
		SET
			city_route_departure_time = #{cityRouteDepartureTime}
		WHERE
			city_route_no = #{cityRouteNo};
	</update><!-- 도시넘버의 출발시간 변경 -->
	<!-- 
	SELECT c.plan_no, c.city_route_no, p.plan_headcount
FROM city_route c INNER JOIN plan p ON c.plan_no=p.plan_no 조인문 만들때 쓸 것-->
</mapper>
