<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danim.service.IndexMapper">
	<select id="selectLandmarkInfoImageForIndex"
			resultType="com.danim.service.index.IndexLandmarkImageDto">
		SELECT 
			city_info_no as 'CityInfoNo', landmark_info_image as 'LandmarkInfoImage'
		FROM
			landmark_info
		WHERE
			city_info_no 
		IN
			(SELECT city_info_no FROM landmark_info
		GROUP BY 
			city_info_no
		HAVING 
			COUNT(city_info_no) > 2)
		ORDER BY
			city_info_no
	</select>
	
	<!-- 자동완성 기능을 사용하기 위한 모든 도시를 출력하는 쿼리 -->
	<select id="selectCityAll"
			resultType="String">
		SELECT
			city_info_name
		FROM
			city_info	
	</select>	
</mapper>