<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.danim.service">
	<insert id="insertMemberInfo"
			parameterType="com.danim.service.member.MemberInfoDto">
		INSERT INTO
			member_info(
				member_id,
				member_info_password,
				member_info_birth,
				member_info_gender,
				member_info_email,
			) VALUES (
				#{memberId},
				#{memberInfoPassword},
				#{memberInfoBirth},
				#{memberInfoGender},
				#{memberInfoEmail}
		);
	</insert>
	<insert id="insertMemberTotal"
			parameterType="com.danim.service.member.MemberTotlaDto">
		INSERT INTO
			member_total(
				member_id,
				member_level,
				member_name,
				member_status,
				member_date,
				member_update,
				member_login_check,
				member_id_check
			) VALUES (
				#{memberId},
				#{memberLevel},
				#{memberName},
				#{memberStatus},
				SYSDATE(),
				SYSDATE(),
				DEFAULT,
				#{memberIdCheck}
		);
	</insert>
</mapper>