<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danim.service.MemberMapper">

	<!-- 모든 회원 리스트 출력 -->
	<select id="selectMemberAll"
			resultType="com.danim.service.member.MemberDto">
		SELECT 
			total.member_id as 'memberId',
			total.member_level as 'memberLevel',
			total.member_name as 'memberName',
			total.member_status as 'memberStatus',
			total.member_date as 'memberDate',
			total.member_update as 'memberUpdate',
			total.member_login_check as 'memberLoginCheck',
			total.member_id_check as 'memberIdCheck',
			info.member_info_password as 'memberInfoPassword',
			info.member_info_birth as 'memberInfoBirth',
			info.member_info_gender as 'memberInfoGender',
			info.member_info_email as 'memberInfoEmail'
		FROM
			member_total as total
		LEFT OUTER JOIN
			member_info as info
		ON
			total.member_id = info.member_id
		UNION
		SELECT
			total.member_id as 'memberId',
			total.member_level as 'memberLevel',
			total.member_name as 'memberName',
			total.member_status as 'memberStatus',
			total.member_date as 'memberDate',
			total.member_update as 'memberUpdate',
			total.member_login_check as 'memberLoginCheck',
			total.member_id_check as 'memberIdCheck',
			info.member_info_password as 'memberInfoPassword',
			info.member_info_birth as 'memberInfoBirth',
			info.member_info_gender as 'memberInfoGender',
			info.member_info_email as 'memberInfoEmail'
		FROM
			member_total as total
		RIGHT OUTER JOIN
			member_info as info
		ON
			total.member_id = info.member_id;
	</select>
	
	<!-- MemberTotal 입력(내부, 연동 포함한 모든 회원) -->
	<insert id="insertMemberTotal"
			parameterType="com.danim.service.member.MemberTotalInsertDto">
		INSERT INTO
			member_total(
				member_id,
				member_level,
				member_name,
				member_status,
				member_date,
				member_update,
				member_login_check,
				member_id_check
			) VALUES (
				#{memberId},
				DEFAULT,
				#{memberName},
				DEFAULT,
				SYSDATE(),
				SYSDATE(),
				DEFAULT,
				#{memberIdCheck}
		);
	</insert>
	<!-- MemberInfo입력 (내부회원) -->
	<insert id="insertMemberInfo"
			parameterType="com.danim.service.member.MemberInfoDto">
		INSERT INTO
			member_info(
				member_id,
				member_info_password,
				member_info_birth,
				member_info_gender,
				member_info_email
			) VALUES (
				#{memberId},
				#{memberInfoPassword},
				#{memberInfoBirth},
				#{memberInfoGender},
				#{memberInfoEmail}
		);
	</insert>
</mapper>