<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.danim.service.PlanMapper">
<select id="selectPlanListByMemberId" 
            resultType="com.danim.service.plan.PlanDto"
            parameterType="String">
           SELECT
            	m.member_id AS 'memberId',
            	p.plan_no AS 'planNo', 
            	p.plan_name AS 'planName', 
            	p.plan_date AS 'planDate'
			FROM 
				plan p
			INNER JOIN  
				member_total m
			ON 
				p.member_id=m.member_id
			WHERE 
				m.member_id = #{memberId}
    </select>
    <select id="selectPlanDetailListByPlanNo" 
            resultType="com.danim.service.plan.PlanAllDto"
            parameterType="int">
           SELECT DISTINCT 
           		p.plan_name as 'planName',
                c.plan_no as 'planNo', 
				c.city_route_no as 'cityRouteNo',
				c.city_route_date as 'cityRouteDate',
				c.city_route_departure_city as 'cityRouteDepartureCity',
				c.city_route_arrival_city as 'cityRouteArrivalCity',
				c.city_route_departure_time as 'cityRouteDepartureTime',
				c.city_route_arrival_time as 'cityRouteArrivalTime',
				c.city_route_memo as 'cityRouteMemo',
				
				l.landmark_plan_no as 'landmarkPlanNo',
				l.landmark_info_no as 'landmarkInfoNo',
				
				s.stay_plan_no as 'stayPlanNo',
				s.stay_info_no as 'stayInfoNo',
				s.stay_plan_time as 'stayPlanTime',
				s.stay_plan_memo as 'stayPlanMemo'
				
			FROM 
				plan p
			INNER JOIN
				city_route c 
			INNER JOIN 
				stay_plan s 
			INNER JOIN 
				landmark_plan l
			ON 
				p.plan_no= c.plan_no and s.plan_no = l.plan_no
			WHERE 
				p.plan_no = #{planNo};
    </select>
    
    <select id="selectGpsByPlanNo" 
    		resultType="com.danim.service.plan.CityInfoDto"
    		parameterType="int">
     		SELECT 
     			ci.city_info_langitude as 'cityInfoLangitude',
     			ci.city_info_latitude as 'cityInfoLatitude'
			FROM 
				plan p
			INNER JOIN
				city_route cr 
			INNER JOIN 
				city_info ci
			ON 
				p.plan_no=cr.plan_no and city_info_no=cr.city_route_departure_city
			WHERE 
				p.plan_no = #{planNo};
    
    </select>
</mapper>