<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.danim.service.PlanMapper">
<select id="selectPlanListByMemberId" 
            resultType="com.danim.service.plan.PlanDto"
            parameterType="String">
           SELECT
            	m.member_id AS 'memberId',
            	p.plan_no AS 'planNo', 
            	p.plan_name AS 'planName', 
            	p.plan_date AS 'planDate'
			FROM 
				plan p 
			INNER JOIN  
				member_total m 
			ON 
				p.member_id=m.member_id
			WHERE 
				m.member_id = #{memberId}
    </select>
</mapper>