<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danim.service.RecommandMapper">
	<!-- 성별 간 선호하는 지역 순위  -->
	<select id="selectCityForGender"
			resultType="com.danim.service.recommand.RecommandDto">
		SELECT
			city.city_route_departure_city as 'cityRankName',
			COUNT(city.city_route_departure_city) as 'cityRankcount'
		FROM
			plan as pl
		JOIN
			member_info as member
		ON
			pl.member_id = member.member_id
		JOIN
			city_route as city
		ON
			city.plan_no = pl.plan_no
		WHERE
			member.member_info_gender = #{gender}
		GROUP BY
			city.city_route_departure_city
		ORDER BY
			COUNT(city.city_route_departure_city) DESC
		LIMIT
			5		
	</select>
	<!-- 20대 선호 도시 -->	
	<select id="selectCityForTwenty"
			resultType="com.danim.service.recommand.RecommandDto">
		SELECT
			city.city_route_departure_city as 'cityRankName',
			COUNT(city.city_route_departure_city) as 'cityRankcount'
		FROM
			plan as pl
		JOIN
			member_info as member
		ON
			pl.member_id = member.member_id
		JOIN
			city_route as city
		ON
			city.plan_no = pl.plan_no
		WHERE
			member.member_info_birth<![CDATA[ > ]]> '1986-01-01'
		AND
			member.member_info_birth <![CDATA[ < ]]> '1997-12-31'
		GROUP BY
			city.city_route_departure_city
		ORDER BY
			COUNT(city.city_route_departure_city) DESC
	</select>			
</mapper>