<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danim.service.TotalInfoMapper">
	<select id="selectCityInfo"
			resultType="com.danim.service.plan.CityInfoDto">
		SELECT
			city_info_no  as 'cityInfoNo',
			city_info_do_name as 'cityInfoDoName',
			city_info_name as 'cityInfoName',
			city_info_langitude as 'cityInfoLangitude',
			city_info_latitude as 'cityInfoLatitude',
			city_info_summary as 'cityInfoSummary',
			city_info_image as 'cityInfoImage'
		FROM
			city_info
	</select>

	<select id="selectLandmarkInfoByCityName"
			resultType="com.danim.service.plan.LandmarkInfoDto"
			parameterType="String">
		SELECT
			landmark_info_no as 'landmarkInfoNo',
			landmark_info_name as 'landmarkInfoName',
			city_info_no as 'cityInfoNo',
			landmark_info_langitude as 'landmarkInfoLangitude',
			landmark_info_latitude as 'landmarkInfoLatitude',
			landmark_info_image as 'landmarkInfoImage'
		FROM
			landmark_info
		WHERE
			city_info_no = (
				SELECT
					city_info_no
				FROM
					city_info
				WHERE
					city_info_name=#{clickCityName}
			);
	</select>
	
	<select id="selectEateryInfoByCityName"
			resultType="com.danim.service.plan.EateryInfoDto"
			parameterType="String">
		SELECT
			eatery_no as 'eateryNo',
			eatery_name as 'eateryName',
			city_info_no as 'cityInfoNo'
		FROM
			eatery_info
		WHERE
			city_info_no = (
				SELECT
					city_info_no
				FROM
					city_info
				WHERE
					city_info_name=#{clickCityName}
			);
	</select>
	
	<select id="selectStayInfoByCityName"
			resultType="com.danim.service.plan.StayInfoDto"
			parameterType="String">
		SELECT
			stay_info_no as 'stayInfoNo',
			stay_info_name as 'stayInfoName',
			city_info_no as 'cityInfoNo'
		FROM
			stay_info
		WHERE
			city_info_no = (
				SELECT
					city_info_no
				FROM
					city_info
				WHERE
					city_info_name=#{clickCityName}
			);
	</select>
	
	<select id="selectEventInfoByCityName"
			resultType="com.danim.service.plan.EventInfoDto"
			parameterType="String">
		SELECT
			event_info_name as 'eventInfoName',
			city_info_no as 'cityInfoNo'
		FROM
			event_info
		WHERE
			city_info_no = (
				SELECT
					city_info_no
				FROM
					city_info
				WHERE
					city_info_name=#{clickCityName}
			);
	</select>
</mapper>