<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danim.service.TotalInfoMapper">
	<select id="selectMaxPlanNo"
		resultType="int">
		SELECT IFNULL(MAX(plan_no)+1, 1) as plan_no FROM plan
	</select>
	
	<insert id="insertPlan"
			parameterType="com.danim.service.plan.PlanDto">
		INSERT INTO plan(
			plan_no,
			member_id,
			plan_name,
			plan_headcount,
			plan_type,
			plan_departure,
			plan_arrival,
			plan_stay,
			plan_date,
			plan_update,
			plan_total_money,
			plan_memo
		) VALUES(
			#{planNo},
			#{memberId},
			#{planName},
			#{planHeadcount},
			#{planType},
			#{planDeparture},
			#{planArrival},
			#{planStay},
			CURDATE(),
			CURDATE(),
			0,
			#{planMemo}
		)
	</insert>
	
	<select id="selectMaxCityRouteNo"
			resultType="int">
		SELECT IFNULL(MAX(city_route_no)+1, 1) FROM city_route
	</select>
	
	<insert id="insertCityRoute"
			parameterType="java.util.Map">
		INSERT INTO city_route(
			city_route_no,
			plan_no,
			city_route_date,
			city_route_departure_city,
			city_route_arrival_city,
			city_route_departure_time,
			city_route_arrival_time,
			city_route_memo
		) VALUES
		<foreach collection="cityRouteDtoList" item="cityRouteDtoList" index="index" open="(" separator="),(" close=")">
			#{cityRouteDtoList.cityRouteNo},
		    #{cityRouteDtoList.planNo},
		    #{cityRouteDtoList.cityRouteDate},
		    #{cityRouteDtoList.cityRouteDepartureCity},
		    #{cityRouteDtoList.cityRouteArrivalCity},
		    #{cityRouteDtoList.cityRouteDepartureTime},
		    #{cityRouteDtoList.cityRouteArrivalTime},
		    #{cityRouteDtoList.cityRouteMemo}
		</foreach>
	</insert>
	
	<select id="selectMaxLandmarkNo"
			resultType="int">
		SELECT IFNULL(MAX(landmark_plan_no)+1, 1) as landmark_plan_no FROM landmark_plan;
	</select>
	
	<insert id="insertLandmarkPlan"
			parameterType="java.util.Map">
		INSERT INTO landmark_plan(
			landmark_plan_no,
			plan_no,
			city_route_no,
			landmark_info_no
		) VALUES
		<foreach collection="landmarkPlanDtoList" item="landmarkPlanDtoList" index="index" open="(" separator="),(" close=")">
			#{cityRouteDtoList.landmarkPlanNo},
		    #{cityRouteDtoList.planNo},
		    #{cityRouteDtoList.cityRouteNo},
		    #{cityRouteDtoList.landmarkInfoNo}
		</foreach>
	</insert>
	
	<select id="selectCityInfo"
			resultType="com.danim.service.plan.CityInfoDto">
		SELECT
			city_info_no  as 'cityInfoNo',
			city_info_do_name as 'cityInfoDoName',
			city_info_name as 'cityInfoName',
			city_info_langitude as 'cityInfoLangitude',
			city_info_latitude as 'cityInfoLatitude',
			city_info_summary as 'cityInfoSummary',
			city_info_image as 'cityInfoImage'
		FROM
			city_info
	</select>
	
	<select id="selectLandmarkInfoByCityName"
			resultType="com.danim.service.plan.LandmarkInfoDto"
			parameterType="String">
		SELECT
			landmark_info_no as 'landmarkInfoNo',
			landmark_info_name as 'landmarkInfoName',
			city_info_no as 'cityInfoNo',
			landmark_info_langitude as 'landmarkInfoLangitude',
			landmark_info_latitude as 'landmarkInfoLatitude',
			landmark_info_image as 'landmarkInfoImage'
		FROM
			landmark_info
		WHERE
			city_info_no = (
				SELECT
					city_info_no
				FROM
					city_info
				WHERE
					city_info_name=#{clickCityName}
			)
	</select>
	
	<select id="selectEateryInfoByCityName"
			resultType="com.danim.service.plan.EateryInfoDto"
			parameterType="HashMap">
		SELECT
			eatery_no as 'eateryNo',
			eatery_name as 'eateryName',
			city_info_no as 'cityInfoNo'
		FROM
			eatery_info
		WHERE
			city_info_no = (
				SELECT
					city_info_no
				FROM
					city_info
				WHERE
					city_info_name=#{clickCityName}
			)
		LIMIT
			#{infoMoreView}
	</select>
	
	<select id="selectStayInfoByCityName"
			resultType="com.danim.service.plan.StayInfoDto"
			parameterType="HashMap">
		SELECT
			stay_info_no as 'stayInfoNo',
			stay_info_name as 'stayInfoName',
			city_info_no as 'cityInfoNo'
		FROM
			stay_info
		WHERE
			city_info_no = (
				SELECT
					city_info_no
				FROM
					city_info
				WHERE
					city_info_name=#{clickCityName}
			)
		LIMIT
			#{infoMoreView}
	</select>
	
	<select id="selectEventInfoByCityName"
			resultType="com.danim.service.plan.EventInfoDto"
			parameterType="HashMap">
		SELECT
			event_info_name as 'eventInfoName',
			city_info_no as 'cityInfoNo'
		FROM
			event_info
		WHERE
			city_info_no = (
				SELECT
					city_info_no
				FROM
					city_info
				WHERE
					city_info_name=#{clickCityName}
			)
		LIMIT
			#{infoMoreView}
	</select>
</mapper>